
// Blacks
$black-100: #282C34;

// Whites
$white-100: #ffff;

// Misc

// JS Theme

$dark-charcoal: #323330;
$minion-yellow: #F0DB4F;

$kt_blue: #316493;

// testing
$test-secondary: #1FC5E2;

// Theme variables
$primary: $dark-charcoal;
$secondary: $test-secondary;
