@import './colors.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  color:$secondary;
  font-size: 16px;
}

// #cursorTracker {
//   position: absolute;
//   top: -10%;
//   left: -10%;
//   height: 10px;
//   width: 10px;
//   border-radius: 50%;
//   background-color:$secondary;
// }

.timeline {
  display: flex;
  width: 90%;
  margin: 35px auto;
  margin-right: 0;
  height: 11rem;
  background-color: transparent;
  position: relative;

  span { display: inline-block; }

  .segment-info-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 15px;
    margin: auto;
    background-color: darkslategray;
    color: white;
    text-align: center;
    border-radius: 10px;

    &.xgrid {
      left: 11.5%;
      background-color: deepskyblue;
    }

    &.keeptruckin {
      left: 62.5%;
      background-color: $kt_blue;
    }

    .title {
      font-weight: bold;
    }

    span:not(:first-child) { margin-top: 10px; }

  }

  .segment {
    display: flex;
    align-items: center;
    margin-top: 23px;

    .month-dot {
      height: 20px;
      width: 20px;
      border-radius: 10px;

      .date {
        width: max-content;
        margin-top: 30px;
        margin-left: -19px;
        font-weight: bold;
        color: white;
      }
    }

    .span-line {
      height: 3px;
      width: 100%;
    }

    &.xgrid {
      width: 38%;

      .month-dot, .span-line {
        background-color: deepskyblue;
      }
    }

    &.keeptruckin {
      width: 62%;

      .month-dot, .span-line {
        background-color: $kt_blue;
      }
    }
  }
}

.timeline-cards {
  display: flex;

  ul {
    list-style-type: square;

    li:not(:first-child) { margin-top: 7px; }
  }

  .timeline-card {
    flex: 50%;
    margin: 10px 32px;
    color: white;
    padding: 21px;
    border-radius: 10px;
    font-size: 1.3rem;

    &:not(:first-child) { margin-right: 0; }

    &.xgrid {
      background-color: deepskyblue;
    }

    &.keeptruckin {
      background-color: $kt_blue;
    }

    .heading {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .role {
      border-bottom: 1px solid white;
      padding-bottom: 17px;
    }

    div:not(:first-child) {
      margin-top: 7px;
    }
  }
}

.global-parent {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .hamburger-container, .mobile-nav { display: none; }

  .navbar-container {
    position: fixed;
    width: 7%;
    height: 100%;
    min-width: 111px;
    background-color: #0d0d0c;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-list {
      ul {
        list-style: none;
        padding: 0;
        text-align: center;
        color:$secondary;

        li {
          cursor: pointer;
          font-size: 1rem;
          border-bottom: 1px solid #484848;

          a {
            display: block;
            padding: 10px;
            color: inherit;
            text-decoration: inherit;
          }

          &:hover {
            // background-color: #484848;
            background-color:$secondary;
            color: white;
          }

          &:first-child {
            border-top: 1px solid #484848;
          }
        }
      }
    }
  }

  .main-content-container {
    height: 100vh;
    background-color: $black-100;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    overflow: scroll;
    margin-left: 7%;

    & > div {
      padding-top: 35px;
      max-width: 97%;
    }

    .headline {
      animation: appear 3s forwards;
      font-family: 'Alfa Slab One';
      font-size: 5rem;

      span {
        display: inline-block;
      }

      .lost-letter {
        animation: lostLetter 1s cubic-bezier(.26,1.3,.77,1.03) forwards;
      }
    }

    .about-me-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;

      .intro-para {
        font-size: 1.3rem;
        font-family: 'Roboto Mono', monospace;
      }

      .media-icons {
        img { cursor: pointer; }
      }
    }

    .skills-container {
      min-height: 100vh;

      .skill-details {
        display: flex;

        .skill-listings {
          flex: 50;
          display: flex;

          .list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
              display: inline-block;
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
              font-size: 1.2rem;
              color: white;
            }

            & span { margin-left: 8rem; }
          }

          h1 {
            font-size: 1.9rem;
            margin-left: 2rem;
            margin-bottom: 1rem;
          }

          h3 {
            margin-left: 5rem;
            font-size: 1.5rem;
          }
        }

      }

    }

    .tools-ratings-container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .tools-layout {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
      }

      .tools-logos {
        flex: 50;

        display: flex;
        flex-direction: column;

        .logos {
          flex: 50;
          display: flex;
          justify-content: space-evenly;
        }

        .logo-container {
          display: inline-flex;
          flex-direction: column;
          margin: 10px;

          .label {
            display: inline-block;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            margin-top: 1rem;
          }

          &:not(:first-of-type) {
            margin-left: 2rem;
          }

          img {
            height: 75px;
            width: auto;

            &:hover {
              animation: jump-shaking 0.83s;
            }
          }
        }
      }

      .tools-ratings {
        flex: 50;
        padding: 5%;
        padding-right: 0;

        .tool-rate {
          .name {
            font-weight: bold;
            color: white;
          }

          .progress-bar {
            margin-top: 10px;
            height: 2px;
            width: 100%;
            background-color: gray;

            .progress {
              background-color:$secondary;
              height: 100%;
            }
          }

          &.html {
            .progress {
              width: 75%;
              background-color: #F16529;
            }
          }

          &.css {
            .progress {
              width: 70%;
              background-color: #2965f1;
            }
          }

          &.bootstrap {
            .progress {
              width: 70%;
              background-color: #8f4378;
            }
          }

          &.js {
            .progress {
              width: 65%;
              background-color: $minion-yellow;
            }
          }

          &.angular {
            .progress {
              width: 60%;
              background-color: #B52E31;
             }
          }


          &.nodejs {
            .progress {
              width: 40%;
              background-color: #68A063;
            }
          }

          &.sql {
            .progress {
              width: 40%;
            }
          }

          &.firebase {
            .progress {
              width: 45%;
              background-color: #FFA611;
            }
          }

          &.mongodb {
            .progress {
              width: 45%;
              background-color: #4DB33D;
            }
          }

          &:not(:first-child) {
            margin-top: 2rem;
          }

        }
      }
    }

    .experience-container {
      min-height: 100vh;
    }

    .contact-me-container {
      min-height: 100vh;
      width: 100%;

      .contact-form-wrapper {
        width: inherit;

        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 30px;
        }

        input, textarea {
          background-color: $primary;
          border: 1px solid$secondary;
          color: white;
          border-radius: 10px;
          padding: 10px;
          width: 100%;
          font-size: 16px;
          font-family: sans-serif;
          box-shadow: 0 0 10px 5px $secondary;
        }

        input {  height: 50px; }

        .group-row {
          display: flex;

          input:not(:first-of-type) { margin-left: 1rem;}
        }

        .message { margin-top: 50px; }

        button.submit {
          height: 45px;
          width: 175px;
          border-radius: 9px;
          background-color: white;
          color: $secondary;
          margin: 75px auto;
          font-size: 16px;
          box-shadow: 0 0 10px 5px $secondary;
          border: none;
        }
      }
    }

    .below-desktop { display: none; }
  }

  .footer {
    height: 35px;
    z-index: 1;
    background-color:$secondary;
    color: $primary;

    footer {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        padding: 0 15px;
        &:not(:first-child) { border-left: 1px solid $primary; }
      }
      .contact-details {
        address {
          margin: auto;
          display: flex;

          a {
            color: $primary;
            text-decoration: none;
            font-style: normal;

            &:not(:first-child) { margin-left: 15px; }
          }
        }
      }
    }
  }
}

@keyframes appear {
  0% { visibility: hidden; }
  100% { visibility: visible; }
}

@keyframes lostLetter {
  0% {
    transform: translate(2000px,0);
  }

  35% {
    transform: translate(0, 0) rotate(0deg);
  }

  83% {
    transform: translate(0, 17px) rotate(57deg);
  }

  87% {
    transform: translate(0, -17px) rotate(57deg);
  }

  100% {
    transform: translate(-24px, 0) rotate(0deg);
  }
}

@keyframes gentleRotateY {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}

/* Responsiveness Designs */
@media screen and (max-width:768px) {
  img {
    height: 35px !important;
  }

  .hamburger-container {
    display: flex;
    height: 50px;
    width: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 7%;
    right: 7%;
    border: 1px solid$secondary;
    border-radius: 5px;
  }

  .mobile-nav {
    display: unset;
    position: absolute;
    width: 100vw;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid$secondary;

    .nav-list { background-color: $black-100; }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      font-size: 1rem;
      padding: 21px;

      li {
        padding: 0 21px;
        &:not(:first-child) {
          border-left: 1px solid$secondary;
        }

        a { color:$secondary;
          text-decoration: none;
        }
      }
    }
  }

  .global-parent {
    flex-direction: column;
    width: 100vw;

    .footer {
      font-size: 11px;

      .year, .secondary { display: none; }

      #mobileYear {
        display: block;
        border-left: none;
      }

      footer > div {
        padding: 0 5px;
      }

      .contact-details {
        padding: 0 7px;

        address a {
          margin-left: 7px;

          // &:not(:first-child) {
          //   margin-left: 0 !important;
          //   padding-left: 7px;
          //   border-left: 1px solid $primary;
          // }

          &:first-child { margin-left: 0; }
        }
      }
    }

    .navbar-container {
      // display: none;
      position: sticky;
      height: max-content;
      width: 100vw;

      .nav-list {
        display: flex;
        justify-content: center;
        ul {
          display: flex;

          li {
            border: none;
            &:first-child { border: none; }
            &:not(:first-child) { border-left: 1px solid$secondary; }

            a { padding: 5px 10px; }
          }
        }
      }
    }

    .main-content-container {
      width: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      padding: 1rem;

      & > div {
        min-height: min-content !important;
        padding-bottom: 1rem;
        border-bottom: 1px solid$secondary;
        width: 90vw;
      }

     .headline {
       font-size: 1.3rem;
       font-family: sans-serif;
       font-weight: bold;
       text-align: center;
    }

    .about-me-container {
      text-align: center;

      .headline {
        .animated { display: none; }
        .below-desktop { display: block; }
      }
      .intro-para { font-size: 0.9rem; }
    }

    .skills-container {
      .skill-details .skill-listings .skill-domain h1 {
        font-size: 1.2rem;
        margin: 1rem 0;
      }

      .skill-listings {
        flex-direction: column;

        .skill-domain {
          padding: 1.35rem 0;
          // border-bottom: 1px solid$secondary;

          .list {
            h3 {
              margin: 1rem 0;
              font-size: 1rem;
              text-align: center;
            }

            span {
              margin: 0.5rem 0;
              font-size: 1rem;
            }
          }
        }
      }
    }

    .tools-ratings-container {
      .tools-layout {
        flex-direction: column;

        .tools-logos {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .logos {
            flex-wrap: wrap;
          }

          .logo-container .label { font-size: 0.8rem; }
        }

        .tools-ratings {
          margin-top: 2rem;
          padding: 0px;
          padding-bottom: 1rem;
        }
      }
    }

    .experience-container {
      .timeline { display: none; }

      .timeline-cards {
        flex-direction: column-reverse;

        .timeline-card {
          margin: 5px;
          padding: 20px 10px;
          font-size: 0.9rem;
          margin-top: 2rem;

          .heading { font-size: 1rem; }
        }
      }
    }

    .contact-me-container {
      width: 90vw;

      .contact-form-wrapper {
        margin-top: 1.5rem;
        padding: 0;

        form {
          font-size: 0.9rem;
          padding: 10px;
          width: unset;

          .group-row {
            flex-direction: column;

            input {
              font-size: 0.9rem;
              &:not(:first-child) {
                margin: 0;
                margin-top: 1rem;
              }
            }
          }

          textarea {
            font-size: 0.9rem;
          }

          button.submit {
            font-size: 1.1rem;
          }
        }
      }
    }
   }
  }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  img {
    height: 55px !important;
  }
  .global-parent {
    .main-content-container {
      margin-left: 7%;
      padding-left: 85px;

      .headline {
        font-size: 1.8rem;
        .animated { display: none; }
        .below-desktop { display: block; }
      }

      .skills-container {
        .skill-details .skill-listings .skill-domain h1 {
          font-size: 1.4rem;
          margin: 1rem 0;
        }

        .skill-listings {
          // flex-direction: column;

          .skill-domain {
            padding: 1.35rem 0;

            &:not(:first-child) {
              padding-left: 1rem;
            }

            .list {
              h3 {
                margin: 1rem 0;
                font-size: 1rem;
                text-align: center;
              }

              span {
                margin: 0.5rem 0;
                font-size: 1rem;
              }
            }
          }
        }
      }

      .tools-ratings-container {
        .tools-layout {
          flex-direction: column;
          .tools-logos {
            img { height: 40px !important; }

            .label { font-size: 0.95rem; }
          }

          .tools-ratings { display: none; }
        }
      }
      .experience-container {
        .timeline {
          margin-bottom: 10px;

          .segment-info-card {
            &.xgrid { left: 3.5%; }
            &.keep-truckin { left: 51%; }
          }
        }

        .timeline-cards {
          .timeline-card {
            margin: 5px;
            padding: 21px 10px;
            font-size: 1rem;

            .heading { font-size: 1rem; }
          }
        }
       }
    }
  }
}