@font-face {
  font-family: "KGBlankSpaceSolid";
  src: url("assets/fonts/KGBlankSpaceSolid.woff2") format("woff2"),
    url("assets/fonts/KGBlankSpaceSolid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KGBlankSpaceSketch";
  src: url("assets/fonts/KGBlankSpaceSketch.woff2") format("woff2"),
    url("assets/fonts/KGBlankSpaceSketch.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
